* {
    box-sizing: border-box;
    
}

html, body {
    margin: 5px;
    padding: 5px;
    background-color:rgb(210, 207, 207);
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap:10px;
}
#box1{
    background-color:rgb(245, 237, 4);
    grid-column:1/5;
    grid-row:1/2;
    height: 200px;
    border-radius: 5px;
}
#box2{
    background-color:rgb(48, 239, 0);
    grid-column:1/3;
    grid-row:2/4;
    height: 410px;
    border-radius: 5px;
}#box3{
    background-color:rgb(234, 38, 38);
    grid-column:3/5;
    grid-row:2/3;
    height: 200px;
    border-radius: 5px;
}#box4{
    background-color:rgb(23, 147, 220);
    height: 200px;
    border-radius: 5px;
    
}#box5{
    background-color:rgb(23, 147, 220);;
    height: 200px;
    border-radius: 5px;
    
}