.navbar{
    width: auto;
    height: 3rem;
    outline: white;
    margin: 2rem 0 2rem 0;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    border-bottom:solid;
    
}
a{
    color: rgb(254, 10, 51);
    margin-top: 5px;
    font-size: 2rem;
    text-decoration: none;
    font-family:monospace;
    padding-bottom: 1rem;
    padding-top: 1rem;
}