* {
    box-sizing: border-box;
    font-size: 0px;
}

#box1 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #F5C6D6;
    border: 5px solid white;
}
#box2 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #EE2E84;
    border: 5px solid white;
}
#box3 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #EE2E84;
    border: 5px solid white;
}
#box4{
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #EE2E84;
    border: 5px solid white;
}
#box5 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #EE2E84;
    border: 5px solid white;
}
#box6 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #85CFD8;
    border: 5px solid white;
}
#box7 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #85CFD8;
    border: 5px solid white;
}
#box8 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #8DC63F;
    border: 5px solid white;
}
#box9 {
    display:inline-block;
    height:100px;
    width:100%;
    background-color: #E76E34;
    border: 5px solid white;
}

@media only screen and (min-width: 768px) {
    #box1 {
        display:inline-block;
        height:165px;
        width:100%;
        background-color: #F5C6D6;
        border: 5px solid white;
    }
    #box2 {
        display:inline-block;
        height:165px;
        width:25%;
        background-color: #EE2E84;
        border: 5px solid white;
    }
    #box3 {
        display:inline-block;
        height:165px;
        width:25%;
        background-color: #EE2E84;
        border: 5px solid white;
    }
    #box4{
        display:inline-block;
        height:165px;
        width:25%;
        background-color: #EE2E84;
        border: 5px solid white;
    }
    #box5 {
        display:inline-block;
        height:165px;
        width:25%;
        background-color: #EE2E84;
        border: 5px solid white;
    }
    #box6 {
        display:inline-block;
        height:165px;
        width:50%;
        background-color: #85CFD8;
        border: 5px solid white;
    }
    #box7 {
        display:inline-block;
        height:165px;
        width:50%;
        background-color: #85CFD8;
        border: 5px solid white;
    }
    #box8 {
        display:inline-block;
        height:165px;
        width:75%;
        background-color: #8DC63F;
        border: 5px solid white;
    }
    #box9 {
        display:inline-block;
        height:165px;
        width:25%;
        background-color: #E76E34;
        border: 5px solid white;
    }
    
}